* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.bg-dark {
  background-color: #1e1e1e;
  color: whitesmoke;
}

.bg-light {
  background-color: #fffffe;
  color: black;
}

.editor-container {
  height: 100vh;
  width: 50vw;
}

.editor-utils {
  padding: 10px 2rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  border: 1px solid gray;
}

.settings-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.editor {
  height: 100%;
  width: 100%;
}

.editor > .monaco-editor {
  width: 100%;
}

.terminal-container {
  height: 100vh;
  width: 50vw;
}

.terminal-utils {
  background-color: black;
  padding: 15px 2rem;
  font-family: sans-serif;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.terminal {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 5px;
}

.btn {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-lg {
  height: 35px;
  width: 100px;
  font-size: medium;
  font-weight: bold;
}

.btn-success {
  background-color: #4bb543;
  color: white;
  border: 1px solid #4bb543;
  transition: ease-in 0.2s;
}

.btn-success:hover {
  background-color: #4ba744;
}

.btn-outline-danger {
  background: transparent;
  border: 1px solid #dc3545;
  color: #dc3545;
  transition: ease-in 0.2s;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.main {
  display: flex;
  align-items: center;
}
